body {
    font: 1em/150% "Helvetica Neue", Arial, monospace;
    padding: 1em;
    margin: 20px auto;
    max-width: 33em;
}

@media (min-width: 768px) {
    body {
        border: 1px solid chocolate;
    }
}

h1 {
    color: aqua;
    font-size: 1.5em;
}

div p, #id:first-line {
    background-color: antiquewhite;
    color: cadetblue;
}

div p {
    margin: 0;
    padding: 1em;
}

div p + p {
    padding-top: 0;
    color:crimson
}

p:nth-child(1) {
    color: chartreuse
}

p:nth-of-type(1) {
    border: 1px solid blue;
}

p:nth-last-of-type(1) {
    font-style: italic;
}